/* .video-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 500px; /* Spacer untuk memberikan ruang agar video tidak langsung di atas tombol */
/* }

video {
    width: 100%;
}

button {
    display: block;
    margin-top: 10px;
    position: fixed;
    top: 20px;
    left: 20px;
} */
/*  */ 
